---
alternates:
  - language: es
    uri: /es
  - language: fr
    uri: /fr
bodyclass: index
language: en
meta:
  author: Author Name
  description: Some meta description
  keywords: Some, Meta, Keywords
  robots: index, follow
scripts:
  - ../typescript/index.ts
stylesheets:
  - ../scss/index.scss
title: Index | Parcel Bundler With Handlebars
uri: /
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>Welcome from index.hbs</h1>
      <a href="./about.hbs">about page</a>
      {{#isnt NODE_ENV "production"}}
      <p>I will disappear on production builds</p>
      {{/isnt}}
      <br />
      {{> states}}
    </main>
  {{/content}}
{{/extend}}
